{% extends "layout.html" %}
{% block content %}
<form method="POST" action="">
  {{ form.csrf_token }}
  <p>{{ form.question.label }} {{ form.question }}</p>
  <p>{{ form.answer_options.label }} {{ form.answer_options }}</p>
  <p>{{ form.correct_answer.label }} {{ form.correct_answer }}</p>
  <p>{{ form.marks_available.label }} {{ form.marks_available }}</p>
  <p>{{ form.correct_answer_feedback.label }} {{ form.correct_answer_feedback }}</p>
  <p>{{ form.incorrect_answer_feedback.label }} {{ form.incorrect_answer_feedback }}</p>
  <p>{{ form.feedforward_comments.label }} {{ form.feedforward_comments }}</p>
  <p>{{ form.question_tags.label }} {{ form.question_tags }}</p>

  <input type="submit" value="Add question">
</form>


{% endblock content %}
